* {
    font-family: 'Alegreya Sans';
}

body {
    background-image: url(../images/background.png);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    gap: 20%;
}

.form-background {
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin: 0;
    width: 32.4%;
    background-color: white;
    border-radius: 4.3%;
    box-shadow: 0px 256px 102px rgba(0, 0, 0, 0.01), 
                0px 144px 86px rgba(0, 0, 0, 0.05), 
                0px 64px 64px rgba(0, 0, 0, 0.09), 
                0px 16px 35px rgba(0, 0, 0, 0.1), 
                0px 0px 0px rgba(0, 0, 0, 0.1);
}

.form-header {
    display: flex;
    justify-content: flex-end;
    margin-top: 4.3%;
    margin-right: 16.6%;
}

.header-point {
    font-size: 16px;
    padding-right: 13px;
}

.header-point:last-child {
    padding-right: 0;
}

.form-fields {
    display: flex;
    flex-direction: column;
    width: 68%;
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 28%;
}

.field:first-child {
    padding-top: 0;
}

.field {
    border-bottom: 1px solid #000000;
    padding-top: 73px;
}

.field-text {
    font-size: 16px;
}

.button-a {
    width: 36%;
    background-color: transparent;
    border-radius: 20px; 
    overflow: hidden;
    border: 0 !important;
    text-align: center;
    margin: 0;
    border: 0;
    cursor: pointer;
    transition: all 200ms ease-out;
    height: 15%;
    padding: 4%;
}

.container-button-a {
    width: 36%; 
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #74A9FF;
    border: 3px solid #74A9FF;
    border-radius: 20px;
}

.button-a-text {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding-top: 10px;
    transition: all 200ms ease-out;
}

a {
    text-decoration: none;
    color:#000000;
}

input {
    border: 0;
    outline: none;
    width: 100%;
}

.el1-position {
    width: 28%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    transform: rotate(-180deg);
}

.el2-position {
    width: 28%;
    z-index:1;
    position: absolute;
    left: 15%;
    top: 0;
}

.el3-position {
    width: 28%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.el4-position {
    width: 28%;
    z-index: 2;
    position: absolute;
    right: 20%;
    bottom: 0;
    transform: rotate(180deg);
}

.header-point:hover {
    color: #74A9FF;
    transition: all 100ms ease-out;
}

.container-button-a:hover {
    background-color: white;
    border: 3px solid #74A9FF;
}

.container-button-a:hover .button-a-text {
    color: black !important;
}

@media screen and (max-width: 1550px) {
    .container {
        flex-direction: column;
    }

    .form-background {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .form-background {
        width: 85%;
    }
}