* {
  font-family: 'Alegreya Sans';
}

body {
  background-image: url(../src/image/background.png);
}



.all-cards {
  display: flex;
  margin: 3%;
}

@media screen and (max-width: 1200px) {
  .all-cards {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}